html,body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;   
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    
}

#background{
    background-image: url(../imagens/fundo.png)  ;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
   
}

#titleP{
text-align:center ;
}
 
 .container{
     display:flex;
     align-items:left;
     justify-content:space-between;
     
 }

 

.title{
    padding: 20px;
 }
.list li{
    list-style-type: none;
    text-align:center;
  
 }